/*variables*/

   /* $principal: #000000;
    $secondary: #5B4CF5;
    $thirdcolor: #5FF5A5;
    $font-primary: "IBM Plex Mono", sans-serif;
    $font-secondary: "Roboto";
    $text-large: 28px;
    $text-medium: 24px;
    $text-small: 18px;*/

    $sp: (
        large: 2rem,
        medium:2rem,
        small:1rem,
    );
    @each $var in $sp list {
        .sp-#{$var} {
            padding: #{$val};
        }
        
    }
    $color: (
        negro: #000000,
       violeta:#5B4CF5,
        verde:#5FF5A5,
    );
    @each $var in $color list {
        .color-#{$var} {
            padding: #{$val};
        }
        
    }