/*variables*/

    $principal: #000000;
    $secondary: #c7a7f1;
    $thirdcolor: #d0fced;
    $font-primary: "IBM Plex Mono", sans-serif;
    $font-secondary: "Roboto";
    $text-large: 28px;
    $text-medium: 24px;
    $text-small: 18px;

    $sp: (
        large: 3rem,
        medium:2rem,
        small:1rem,
    );
    @each $var in $sp list {
        .sp-#{$var} {
            padding: #{$val};
        }
        
    }