/*imports */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,500;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*variables*/
:root {
    --principal: #000000;
    --secondary: #c7a7f1;
    --thirdcolor: #d0fced;
    --font-primary: "IBM Plex Mono", sans-serif;
    --font-secondary: "Roboto";
    --text-large: 28px;
    --text-medium: 24px;
    --text-small: 18px;
}

/*normalized*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Globals*/
html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    color: var(--principal);
}

body {
  
    min-height: 100vh;
    width: auto;
}

/*headerNavbar*/
header{
    background-color: var(--secondary);
}

header .nabvar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-basis: 30%;
    font-size: 1.8em;
    padding: 1rem;
}

header.menu {
    flex-basis: 30%;
    justify-content: space-between;
}

.menu .menu__item .menu__link {
    font-size: 1.8em;
    padding: 1rem;
}

.nabvar .menu .menu__item:hover {
    display: block;
}

.nabvar .menu .menu__item:hover {
    background-color: #d0fced;
    transition: all .3s ease-in-out;
}

.nabvar .menu .menu__link:hover {
    background-color: #d0fced;
    color: var(--secondary);
    transition: all .3s ease-in-out;
}

.nabvar .logo:hover {
    background-color: #d0fced;
    color: var(--principal)
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--principal);
    display: inline-block;
}

h1 {
    max-width: 1080px;
    font-family: var(--font-secondary);
    text-align: center;
    margin-top: 4rem;
}

.footer {
    height: 10vh;
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding-top:20px;
    padding-bottom:50px;
    align-items: center;
    justify-content: center;
    background-color: var(--principal);
    color: #c7a7f1;
    font-family: var(--font-secondary);
    font-size: var(--text-small);
    margin-top: 20px;
}


/* RESPONSIVE*/
/*Estilo Mobile*/

@media only screen and (max-width: 455px) {
    .nabvar {
        font-size: 1em;
        background-color: var(--secondary);
        flex-wrap: wrap;

    }

    .nabvar.logo {
        align-content: center;
    }

    header.nabvar {
        flex-wrap: wrap;
    }

   

    .presentacion {
        flex-wrap: wrap;

    }

    .presentacion__picture {
        flex-grow: 1;
        min-width: 455px;

    }

    .presentacion__descpricion {
        flex-grow: 1;
        order: -1;

    }
}

/*Estilo Tablet*/
@media only screen and (max-width:695px) {

    header.nabvar {
        flex-wrap: wrap;
    }

    body {
        background-color: var(--secondary);
    }

    #grilla {
        display: grid;

    }

    #grilla {
        grid-template-columns: repeat (2 1fr);
    }

    body {
        background-color: var(--secondary);
        background-image: linear-gradient(to bottom, #260537, #243a75, #0071ab, #00a9d3, #12e2eb);
    }

    .presentacion {
        flex-wrap: wrap;
        font-size: 1.2em;

    }

    .presentacion__picture {
        flex-grow: 1;
        min-width: 455px;

    }

    .presentacion__descpricion {
        flex-grow: 1;
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
.galeria{
    align-items: center;
    display: block;
    position: relative;}
    .presentacion__img {
        max-width: 355px;
        margin: auto 1em;
    }
    .seccion{flex-wrap: wrap;}
    .servicios{
        flex-grow: 1;
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }

}


/*Estilos Desktop*/

@media only screen and (min-width: 1024px) {
    body {
        background-color: var(--secondary);

    }

    header.nabvar {
        flex-wrap: wrap;
    }

    #grilla {
        grid-template-columns: repeat (3 1fr);
    }
    .container{grid-template-columns: repeat(3,1fr);}
}


/*helpers*/
.container {
    max-width: 1080px;
    margin: 0%auto;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*paginaIndex*/

div.gallery {
    border: 1px solid #a3f0f6;
    box-sizing: border-box;
  }
  
  div.gallery:hover {
    border: 3px solid #c7a7fa;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


  .h1pa4{max-width: 1080px;
    font-family: var(--font-secondary);
    text-align: center;
    margin-top: 4rem;}



.desc {
    font-family: var(--font-primary);
    padding: 1rem;
    text-align: center;
    font-size: var(--text-small);
}

.pDesc {
    font-family: var(--font-primary);
    padding: 1rem;
    text-align: center;
    font-size: var(--text-small);
}

.hireMe {
    max-width: 1080px;
    margin: 0%auto;
    display: block;
box-sizing: border-box;
}

/*pagina About */
.presentacion {
    gap: 2rem;
    align-items: center;
}

.presentacion__picture {
    flex-grow: 1;
    flex-basis: 80%;
}

.presentacion__img {
    width: 100%;
    min-width: 367px;
    border-radius: 50%;
}

.presentacion__descripcion {
    flex-grow: 1;
    flex-basis: 50%;
}

.presentacion__container {
    font-size: var(--text-small);
    font-family: var(--font-secondary);
}

.saludo {
    font-family: var(--font-primary);
    padding: 1rem;
}
/*pagina Contacto*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #c7a7f1;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #c7a7f1;
    color: #a3f0f6;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#243a75;
  }
  
  .formulario {
    border-radius: 5px;
    background-color: #a3f0f6;
    padding: 20px;
  }

/*pagina Cv*/



.leftcolumn {   
    float: left;
    width: 75%;
    background-color: var(--secondary);
    padding-right: 20px;
  }
  

  .rightcolumn {
    float: left;
    width: 25%;
    background-color: var(--secondary);
    padding-left: 20px;
  }
  
 
  .dibujoimg {
    background-color: var(--thirdcolor);
    width: 100%;
    padding: 20px;

  }
  
 
  .card {
    background-color: var(--thirdcolor);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
   

/*pagina servicios*/


  
  ol { list-style-type: none;
    
    background: #c7a7f1;
    padding: 10px;
    margin-top: 550px;
  }
  ol li {
    background: #a3f0f6;
    color: #000000;
    padding: 25px;
    margin-left: 150px;
  }  
  .workFlow{ box-sizing: border-box;
width: 500px;
}
  .pWorkflow{padding: 35px;}
