



/* RESPONSIVE*/
/*Estilo Mobile*/

@media only screen and (max-width: 455px) {
    .nabvar {
        font-size: 1em;
        background-color: var(--secondary);
        flex-wrap: wrap;

    }

    .nabvar.logo {
        align-content: center;
    }

    header.nabvar {
        flex-wrap: wrap;
    }

   

    .presentacion {
        flex-wrap: wrap;

    }

    .presentacion__picture {
        flex-grow: 1;
        min-width: 455px;

    }

    .presentacion__descpricion {
        flex-grow: 1;
        order: -1;

    }
}

/*Estilo Tablet*/
@media only screen and (max-width:695px) {

    header.nabvar {
        flex-wrap: wrap;
    }

    body {
        background-color: var(--secondary);
    }

    #grilla {
        display: grid;

    }

    #grilla {
        grid-template-columns: repeat (2 1fr);
    }

    body {
        background-color: var(--secondary);
        background-image: linear-gradient(to bottom, #260537, #243a75, #0071ab, #00a9d3, #12e2eb);
    }

    .presentacion {
        flex-wrap: wrap;
        font-size: 1.2em;

    }

    .presentacion__picture {
        flex-grow: 1;
        min-width: 455px;

    }

    .presentacion__descpricion {
        flex-grow: 1;
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
.galeria{
    align-items: center;
    display: block;
    position: relative;}
    .presentacion__img {
        max-width: 355px;
        margin: auto 1em;
    }
    .seccion{flex-wrap: wrap;}
    .servicios{
        flex-grow: 1;
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }

}


/*Estilos Desktop*/

@media only screen and (min-width: 1024px) {
    body {
        background-color: var(--secondary);

    }

    header.nabvar {
        flex-wrap: wrap;
    }

    #grilla {
        grid-template-columns: repeat (3 1fr);
    }
    .container{grid-template-columns: repeat(3,1fr);}
}

