/*pagina servicios*/

.grid__container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:var(--thirdcolor);
    padding: 10px;
    &__item {
      background-color:var(--secondary);
      border: 1px solid var(--thirdcolor);
      padding: 20px;
      font-size: var(--font-secondary);
      text-align: center;}
  }

 
  ol { list-style-type: none;
    
    background: var(--secondary);
    padding: 10px;
    grid-row: 2;
    grid-column: 1;
    &li {
      background: var(--thirdcolor);
      color: #000000;
      padding: 25px;
      margin-left: 150px;
    }  }
   
  
  

  .pWorkflow{padding: 35px;}
